.hero.block {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-top: 50%;
  display: flex;
}

.hero-wrapper {
  margin: 0 auto;
}

.hero picture {
  display: none;
}

.hero-content {
  left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
}

.content-bg {
  background-image: url("/icons/bg.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  position: absolute;
  bottom: 0;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 52%;
  padding-bottom: 36px;
}

.hero-spacer {
  width: 730px;
  height: 350px;
}

.hero h1 {
  font-weight: 300;
  color: #ffaf00;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
  opacity: 1;
  visibility: inherit;
  transform: translate(0, 0);
  font-family: var(--heading-font-family);
}

.hero p {
  font-size: 16px;
  color: #fff;
  opacity: 1;
  visibility: inherit;
  transform: translate(0, 0);
}

@media (max-width: 767px) {
  .hero.block {
    height: auto;
    background-size: cover;
  }
}

@media (max-width: 1023px) {
  .hero.block h1 {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 10px;
    opacity: 1;
    visibility: inherit;
    transform: translate(0, 0);
  }

  .hero-content {
    margin-left: 5px;
  }

  .content-bg {
    left: -16vw;
  }

  .hero-spacer {
    width: 100vw;
    height: 30vw;
  }

  .content-wrap {
    margin-left: 7vw;
  }
}

@media (max-width: 1100px) {
  .hero-content {
    align-items: flex-start;
  }

  .content-bg {
    left: -12vw;
  }

  .hero-spacer {
    width: 100vw;
    height: 30vw;
  }

  .content-wrap {
    width: unset;
    padding-bottom: 2vw;
    margin-left: 9vw;
    max-width: unset;
    overflow: hidden;
  }

  .hero .hero-spacer p {
    display: none;
  }
}
