/* below the fold CSS goes here */

@font-face{
    font-family:"VAG Rounded W01";
    src:url("../fonts/VAG-Rounded.woff2") format("woff2"),url("../fonts/VAG-Rounded.woff") format("woff");
    font-weight:300;
    font-style:normal;
    font-display: swap;
    }